.list{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

