.container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.container ul{
 padding-left: 0;
}


.goBack {
  background-color: burlywood;
  border-radius: 5px;
  margin-top: 20px;
  padding: 7px;
  border: 1px black solid;
  font-weight: 600;
  
}

.goBack:hover {
  background: black;
  box-shadow: 0 15px 20px rgba(0,0,0,.4);
  color: burlywood;
  transform: translateX(-7px);
}
