.boxMovies{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}


.boxMovies form{
  width: 100%;
}
.boxMovies h2{
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

hr{
  background: #000;
  height: 3px;
  border-radius:2px;
  width: 20%;

}
