.listItemCast img{
width: 90px;
max-height: 120px;

}

.listItemCast .listImage{
  width: 90px;
  height: 120px;
  margin: 10px 0px 0px 0px;
}

.listItemCast{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}